{% load static %}
{% load stripe %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_tags %}{% endblock %}

    <link rel="stylesheet" href="{% static 'dist/main.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}


    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://kit.fontawesome.com/e27ac0eb6e.js" crossorigin="anonymous"></script>

    <script>
        window.__stripe_public_key__ = "{% get_stripe_public_api_key %}";
        window.__csrf_token__ = "{{ csrf_token }}";

        window.__actionUrls__ = {
            'save-cart': "{% url 'web:cart-action-save' %}",
            'share-cart': "{% url 'web:saved-cart-share' %}",
            'payment-init': "{% url 'web:cart-checkout-payment-init' %}"
        };
    </script>

    <script src="{% static 'dist/main.js' %}" defer="defer"></script>

    <title>{% block title %}Elabodeal - {% block title-description %}{% endblock %}{% endblock %}</title>
</head>
</head>
<body id="body" class="{% block page_class_name %}{% endblock %}">
    {% block body %}
    {% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>