{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf_token" content="{{ csrf_token }}">
    {% block meta-tags %}{% endblock %}

    <link rel="stylesheet" href="{% static 'dist/main.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}

    {% block scripts %}{% endblock %}
    <script
        src="https://browser.sentry-cdn.com/5.30.0/bundle.min.js"
        integrity="sha384-V+jCLoAVKKml0VanRLGJGAdKk+Lzo1kRFe079J0majdfeGabOd32KG/2adGnr4N0"
        crossorigin="anonymous"
    ></script>
    <script async src="https://js.stripe.com/v3/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://kit.fontawesome.com/e27ac0eb6e.js" crossorigin="anonymous"></script>

    <script src="{% static 'dist/main.js' %}" defer="defer"></script>

    <title>{% block title %}Elabodeal - {% block title-description %}{% endblock %}{% endblock %}</title>
</head>
</head>
<body id="{% block page-id %}{% endblock %}">
    {% block body %}
    {% endblock %}

    {% block bottom-scripts %}{% endblock %}
</body>
</html>