.alert {
    z-index: 9999;
    width: fit-content;
    min-width: 512px;
    height: 50px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    border-radius: 2px;
    position: sticky;
    top: .5rem;
    @include fadein-animation;


    &-success {
        background-color: #9bffad;
        border: 1px solid #52d35b;
        color: #52d35b;
    }

    &-error {
        background-color: #ff6898;
        border: 1px solid #ea1c5d;
        color: #ea1c5d;
    }
}