.code {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;

    &__group {
        display: grid;
        column-gap: .30rem;
        grid-template-columns: 40px 40px 40px;

        &-separator {
            width: 15px;
            height: 1px;
            margin-left: .5rem;
            margin-right: .5rem;
            background: $color-black;
        }
    }

    &__input {
        width: 40px;
        height: 46px;
        padding-left: 0;
        padding-right: 0;
        border-width: 2px;
        text-align: center;
        font-size: $font-size-large;
        font-family: 'system-ui', sans-serif;
    }

    &-invalid {
        .code__input {
            border: 2px solid $color-red;
        }
    }
}