.form {
	&__input {
		&-group {
			margin-bottom: .5rem;
		}

		&-error {
			border: 1px solid $color-red;

			&-msg {
				color: $color-red;
				padding: .5rem;
				border-radius: 2px;
				margin-bottom: .5rem;
				border: 1px solid $color-red;
				background-color: $color-light-red;
			}
		}
	}
}