.form {
	&__input {
		&-group {
			margin-bottom: .5rem;
		}

		&-error {
			border: 1px solid $color-red !important;

			&-msg {
				color: $color-red;
				padding: .5rem;
				border-radius: 2px;
				margin-bottom: .5rem;
				border: 1px solid $color-red;
				background-color: $color-light-red;
			}
		}

		&-remainingCharCount {
			margin-top: .5rem;
			color: $color-black;
			font-size: $font-size-small;
		}
	}
}