.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__spinner {
        font-size: 4.25em;
        width: 1em;
        height: 1em;
        border-radius: 50%;

        &-line {
            @keyframes rotate {
                to { transform: rotate3d(0, 0, 1, 360deg); }
            }

            fill: none;
            stroke: $color-orange;
            stroke-width: 2;
            opacity: 1;
            stroke-linecap: round;
            transform-origin: 50% 50%;
            transform: rotate3d(0, 0, 1, 0deg);
            stroke-dasharray: 50 200;
            animation: 1000ms rotate linear infinite;
        }

        &-ring {
            fill: none;
            opacity: 0;
            stroke-width: 5;
        }
    }
}