.modal-wrapper {
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100vh;
    position: fixed;
    background: rgba(1, 22, 39, .73);
}

.modal {
    width: 100%;
    height: auto;
    padding: 16px;
    max-width: 512px;
    overflow-y: scroll;
    border-radius: 2px;
    animation: fadeIn .5s;
    max-height: calc(100vh - 4rem);
    background-color: $color-white;

    &__header {
        flex-grow: 2;
        display: flex;
        margin-bottom: 1rem;
        justify-content: flex-end;
    }

    &__title {
        width: 100%;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        color: $color-orange;
    }

    &__close-btn {
        font-size: 1.5rem;
        color: $color-grey;
        padding: 3px 0px 3px 0px;
        transform: rotate(0deg);
        transition: transform .5s;

        &:hover {
            cursor: pointer;
            color: $color-black;
            @include transition-animation;
            transform: rotate(180deg);            
            transition: transform .5s;
        }
    }


    &__body {
        width: 100%;
        height: auto;
    }

    &__actions {
        width: 100%;
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
    }

    &__success-msg {
        text-align: center;
        color: $color-green;
        font-size: $font-size-medium;
    }

    &__error-msg {
        color: red;
        text-align: center;
        font-size: $font-size-medium;
    }
}