.switch {
    position: relative;
    width: 2.50rem !important;
    height: 1.25rem;
    appearance: none;
    background-color: $color-grey;
    border-radius: 100px;
    outline: none;
    @include transition-animation;

    &:hover {
        cursor: pointer;
    }
    
    &:checked {
        background-color: $color-green;
    }

    &:checked:before {
        left: calc( 100% - 1.12rem );
    }

    &:before {
        content: '';
        left: 0;
        position: absolute;
        width: 1.14rem;
        height: 100%;
        background: white;
        border-radius: 50%;
        @include transition-animation;
    }

}