{% extends 'layouts/auth.html' %}

{% block title-description %}Zaloguj się{% endblock %}

{% block form %}
<form class="form" method="POST" action="/zaloguj/" autocomplete="off">
	{% if form.errors %}
		{% for error in form.email.errors %}
			<p class="form__error">{{ error }}</p>
		{% endfor %}
	{% endif %}

	{% csrf_token %}

	<div class="form__section">
		<label>EMAIL</label>
		{{ form.email }}
	</div>
	<div class="form__section">
		<label>HASŁO</label>
		{{ form.password }}
	</div>	

	<button class="btn btn__primary btn-block" type="submit">Zaloguj się</button>
</form>
{% endblock %}