{% extends 'layouts/auth.html' %}

{% block title-description %}Zaloguj się{% endblock %}

{% block form %}
<form class="form section padding-top-16px clear-both margin-center" method="POST" action="/auth/login/" autocomplete="off">
	{% if form.errors %}
		{% for error in form.email.errors %}
			<p class="section color-red margin-bottom-8px text-align-center">{{ error }}</p>
		{% endfor %}
	{% endif %}

	{% csrf_token %}

	<div class="section margin-bottom-16px">
		<label>EMAIL</label>
		{{ form.email }}
	</div>
	<div class="section margin-bottom-16px">
		<label>HASŁO</label>
		{{ form.password }}
	</div>	

	<button class="btn btn-orange" type="submit">Zaloguj się</button>
</form>
{% endblock %}