{% extends 'components/modals/base.html' %}
{% load static %}

{% block modal-title %}Produkt został dodany do koszyka{% endblock %}

{% block modal-id %}js-cart-update-modal{% endblock %}
{% block modal-hide-btn-id %}js-hide-cart-update-modal{% endblock %}

{% block modal-body %}
<div class="item-list">
	<div class="item">
		<div class="flex-center">
			<img class="item__cover" src="{% static product.cover_img.path %}" alt="{{ product.title}}" />
			<div class="item__container">
				<p class="item__title">{{ product.title }}</p>
				<p class="item__author">{{ product.author }}</p>
			</div>
		</div>
		<div class="flex-center">
			<p class="item__price">{{ product.price }} zł</p>
		</div>
	</div>
	<div class="flex-center" style="margin-top: 1rem;">
		<a href="{% url 'web:cart' %}" class="btn btn-block btn__secondary" style="margin-right: .5rem;">Przejdż do
			koszyka</a>
		<button id="js-hide-cart-update-modal" class="btn btn-block btn__secondary-outline style="margin-left: .5rem;">Kontynuuj
			zakupy</button>
	</div>
</div>
{% endblock %}