{% extends 'components/modals/base.html' %}

{% block modal-title %}Weryfikacja adresu email{% endblock %}

{% block modal-id %}js-email-verification-modal{% endblock %}
{% block modal-hide-btn-id %}js-hide-email-verification-modal{% endblock %}

{% block modal-body %}
<p style="text-align: center;">Na adres email <strong>{{ user.email }}</strong> został wysłany 6 cyfrowy kod weryfikacyjny.</p>
<form id="js-email-verification" action="{% url 'api:confirm-email-verification-code' %}" autocomplete="off">    
    <div style="margin-top: 1rem; text-align: center;">
        <input type="hidden" name="email" value="{{ user.email }}" />
        <input type="hidden" name="code" value="" />

        <div class="code" style="margin-top: 2rem; margin-bottom: 2rem;">
            <div class="code__group">
                <input aria-label="0" class="code__input" type="text" maxlength="1" />
                <input aria-label="1"class="code__input" type="text" maxlength="1" />
                <input aria-label="2" class="code__input" type="text" maxlength="1" />
            </div>
            <span class="code__group-separator"></span>
            <div>
                <input aria-label="3" class="code__input" type="text" maxlength="1" />
                <input aria-label="4" class="code__input" type="text" maxlength="1" />
                <input aria-label="5" class="code__input" type="text" maxlength="1" />
            </div>
        </div>

        <div class="flex-center" style="margin-top: 1rem;">
            <button class="btn btn__secondary" style="margin-right: .25rem;">Zweryfikuj</button>
            <button 
                id="js-resend-email-verification-code" 
                class="btn btn__secondary-outline" 
                type="button" 
                data-action-url="{% url 'api:resend-email-verification-code' %}" 
                style="margin-left: .25rem; width: 190px;"
            >
                Wyślij kod ponownie
            </button>
        </div>
    </div>
</form>
{% endblock %}