{% extends 'components/modals/base.html' %}

{% block modal-title %}Udostępnienie koszyka{% endblock %}

{% block modal-id %}js-share-cart-modal{% endblock %}
{% block modal-hide-btn-id %}js-hide-share-cart-modal{% endblock %}

{% block modal-body %}
    <form id="js-share-cart" action="{% url 'web:saved-cart-share' %}" autocomplete="off">
        <input type="hidden" name="cart_id" value="{{ cart.id }}" />
        <button class="btn btn__secondary-outline btn-block">Udostępnij</button>
    </form>

    <div id="js-shared-cart-details" style="display: none;">
        <label>LINK</label>
        <input type="text" value="" readonly />

        <div class="flex-center" style="margin-top: .5rem; margin-bottom: .5rem;">
            <i id="share-fb-btn" class="icon icon-fb fab fa-facebook"></i>
            <i id="share-reddit-btn" class="icon icon-reddit fab fa-reddit"></i>
            <i id="share-twitter-btn" class="icon icon-tw fab fa-twitter-square"></i>
            <i id="share-email-btn" class="icon icon-email fas fa-envelope-square"></i>
        </div>

        <button 
            id="js-copy-shared-cart-url" 
            class="btn btn__secondary-outline btn-block"
            data-clipboard-text="" 
        >
            Kopiuj
        </button>
    </div>
{% endblock %}