{% extends 'base.html' %}
{% load static %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/authPage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/authPage.css' %}">
{% endblock %}

{% block body %}
<div class="layout-auth">
	<div class="left-panel">
		<div class="form-container">
			<a href="{% url 'web:index' %}">
				<img src="{% static '/images/blue-logo.png' %}"/>
			</a>
			{% block form %}{% endblock %}
		</div>
	</div>
	<div class="right-panel">
		<div class="content">
			<div class="content__links">
				<div>
					<a href="{% url 'web:index' %}">Sprawdź co dla ciebie mamy</a>
					<i class="fas fa-angle-right"></i>
				</div>
			</div>
			<div class="flex-center">
				<h1 class="content__heading">Twórz, Kupuj, Sprzedawaj! Czekamy na ciebie</h1>
			</div>
			{% include 'components/small-footer.html' %}
		</div>
	</div>
</div>
{% endblock %}