{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf_token" content="{{ csrf_token }}">
    {% block meta-tags %}{% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;900&display=swap" rel="stylesheet">

    <link rel="preload" href="{% static 'dist/globals.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'dist/globals.css' %}">
    {% block page-styles %}{% endblock %}

    <script
        defer src="https://browser.sentry-cdn.com/5.30.0/bundle.min.js"
        integrity="sha384-V+jCLoAVKKml0VanRLGJGAdKk+Lzo1kRFe079J0majdfeGabOd32KG/2adGnr4N0"
        crossorigin="anonymous"
    ></script>
    <script defer src="https://js.stripe.com/v3/"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://kit.fontawesome.com/e27ac0eb6e.js" crossorigin="anonymous"></script>

    <script defer src="{% static 'dist/runtime.js' %}"></script>
    <script defer src="{% static 'dist/vendor.js' %}"></script>
    <script defer src="{% static 'dist/globals.js' %}"></script>
    {% block page-scripts %}{% endblock %}

    <title>{% block title %}Elabodeal - {% block title-description %}{% endblock %}{% endblock %}</title>
</head>
</head>
<body>
    {% block body %}
    {% endblock %}

    {% block page-bottom-scripts %}{% endblock %}
    {% if application_data %}
    {{ application_data|json_script:"application-data" }}
    {% endif %}
</body>
</html>