{% extends 'base.html' %} 
{% load static %}

{% block title-description%}Kasa{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/cartCheckoutPage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/cartCheckoutPage.css' %}">
{% endblock %}

{% block page-scripts %}	
<link rel="preload" href="{% static 'dist/cartCheckoutPage.js' %}" as="script">
<script defer src="{% static 'dist/cartCheckoutPage.js' %}"></script>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div id="mount0_0">
{% include 'components/loader.html' %}
</div>
{% include 'components/small-footer-light.html' %} 
{% endblock %}