{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Twój koszyk{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static '/styles/pages/cart.css' %}">
{% endblock %}

{% block body %}
<div id="cart-save-popup-container" class="popup-hide">
	<div class="cart-save-popup">
		<div class="popup">
			<div class="popup-close">
				<i id="hide-cart-save-popup" class="fas fa-times popup-close-icon"></i>
			</div>
			<div class="popup-content">
				<p class="popup-title">Zapisz koszyk</p>
				<form class="popup-form" action="/cart/" method="POST" autocomplete="off">
					{% csrf_token %}
					<input type="hidden" name="action_type" value="save-cart" />
					<div class="popup-input-wrapper">
						<label class="popup-input-label">NAZWA</label>
						<input type="text" class="popup-input" name="title" required />
					</div>
					<div class="popup-input-wrapper">
						<label class="popup-input-label">OPIS</label>
						<textarea class="popup-input" name="description" required></textarea>
					</div>
					<button type="submit" class="popup-submit">Zapisz</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% include 'components/navigation.html' %}
<div class="container">
	<section class="section">
		<p class="section__label">Koszyk</p>
		{% if show_info %}
			<h1 class="cart-success-text">Produkt został pomyślnie dodany do koszyka :)</h1>
		{% endif %}
		<section class="section">
			{% if products %}
				{% for product in products %}
					<div class="product">
						<div style="width: calc(100% - 24px); height: 224px; float: left">
							<div class="product__section" style="float: left;">
								<input class="product__checkbox" type="checkbox"/>
								<img 
									class="product__cover"
									src="{{ product.cover_img_url }}"
									alt="{{ product.title }}"
								/>
								<div style="float: left;">
									<p class="product__title">{{ product.title }}</p>
									<p class="product__author">{{ product.author.email }}</p>
								</div>
							</div>
							<div class="product__section" style="float: right;">	
								<p class="product__price">{{ product.price }} zł</p>
							</div>
						</div>
						<form method="POST" action="/cart/" class="delete-product">
							{% csrf_token %}
							<input type="hidden" name="product_id" value="{{ product.id }}">
							<input type="hidden" name="action_type" value="delete-product-from-cart" />
							<button class="delete-product">
								<i class="fas fa-times"></i>
							</button>
						</form>
					</div>
				{% endfor %}

				{% else %}
				<h1 class="cart-empty-text">Twój koszyk jest pusty</h1>
			{% endif %}
		</section>
	</section>
	<section class="section bar">
		<div style="float: left;">
			{% if request.user.is_authenticated and products %}
				<button id="show-cart-save-popup" class="btn saveCartBtn">Zapisz koszyk</button>
			{% endif %}
			<button class="btn shareCartBtn">Udostępnij koszyk</button>
		</div>
		<form class="cart-checkout-form">
			<p class="cart-total-price">Razem: 
				{% if 'cart' in request.session %}
					<b style="color: var(--orange);">{{ request.session.cart.total_price }} zł</b>
				{% else %}
					<b style="color: var(--orange);">0.00 zł</b>
				{% endif %}
			</p>
			<button class="btn buyBtn">Zapłać</button>
		</form>
	</section>
</div>
{% include 'components/smallfooter.html' %}

<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}