{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Dostawa{% endblock %}

{% block page-id %}p-cart-checkout-delivery{% endblock %}

{% block body %}
	{% include 'components/navigation.html' %}
	<div class="wrapper">
		<div class="section flex-center">
			<div class="checkout-step flex-center">
				<figure class="flex-center">
					<span class="h2"><i class="fas fa-check"></i></span>
				</figure>
				<span class="h2">Koszyk</span>
			</div>
			<div class="checkout-step__separator"></div>
			<div class="checkout-step checkout-step-current flex-center">
				<figure class="flex-center">
					<span class="h2">2</span>
				</figure>
				<span class="h2">Wysyłka</span>
			</div>
			<div class="checkout-step__separator"></div>
			<div class="checkout-step flex-center">
				<figure class="flex-center">
					<span class="h2">3</span>
				</figure>
				<span class="h2">Płatność</span>
			</div>
		</div>
		<div class="section">
			<div class="form-wrapper">
				<form class="form" method="POST" action="{% url 'web:cart-checkout-delivery' %}">
					{% if form.errors %}
						{% if form.first_name.errors %}
							{% for error in form.first_name.errors %}
								<p class="form__error">{{ error }}</p>
							{% endfor %}
						{% else %}
							{% if form.last_name.errors %}
								{% for error in form.last_name.errors %}
									<p class="form__error">{{ error }}</p>
								{% endfor %}
							{% else %}
								{% if form.email.errors %}
									{% for error in form.email.errors %}
										<p class="form__error">{{ error }}</p>
									{% endfor %}
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
					{% csrf_token %}
					<div class="form__section">
						<div>
							<label>IMIĘ</label>
							{{ form.first_name }}
						</div>
						<div>
							<label>NAZWISKO</label>
							{{ form.last_name }}
						</div>
					</div>
					<div>
						<label>E-MAIL</label>
						{{ form.email }}
					</div>
					<div class="as-gift">
						{{ form.gift }}
						<p>Kupno jako prezent</p>
					</div>
					<div id="gift-form">
						<div class="form">
							{% if form.errors %}
								{% if form.gift_first_name.errors %}
									{% for error in form.gift_first_name.errors %}
										<p class="form__error">{{ error }}</p>
									{% endfor %}
								{% else %}
									{% if form.gift_last_name.errors %}
										{% for error in form.gift_last_name.errors %}
											<p class="form__error">{{ error }}</p>
										{% endfor %}
									{% else %}
										{% if form.gift_email.errors %}
											{% for error in form.gift_email.errors %}
												<p class="form__error">{{ error }}</p>
											{% endfor %}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
							<div class="form__section">
								<div>
									<label>IMIĘ</label>
									{{ form.gift_first_name }}
								</div>
								<div>
									<label>NAZWISKO</label>
									{{ form.gift_last_name }}
								</div>
							</div>
							<div>
								<label>E-MAIL</label>
								{{ form.gift_email }}
							</div>
							<p class="form__information">Na podany adres e-mail, zostaną produkty kupione podczas tej
								tranzakcji. Jeśli
								użytkownik posiada konto w naszym serwisie, będzie miał dostęp do produktów również w
								zakładce
								"Moja półka".</p>
						</div>
					</div>
					<button class="btn btn__primary btn-block">Kupuję</button>
					<a class="btn btn__primary btn__primary-outline btn-block" href="{% url 'web:cart' %}">Wstecz</a>
				</form>
			</div>
		</div>
	</div>
	{% include 'components/small-footer-light.html' %}
{% endblock %}