{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Twój koszyk{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static '/styles/pages/cart.css' %}">
{% endblock %}

{% block css %}
<style>
	.box {
		height: 256px;
	}

	.footer-text {
		color: var(--green);
	}

	.footer-link {
		color: var(--green);
	}

	button[type="share"] {
		width: 140px;
	}
</style>
{% endblock %}

{% block body %}
{% include 'components/save_cart_popup.html'%}
{% include 'components/navigation.html' %}
<div class="container">
	<section class="section">
		<p class="section-label margin-bottom-32px">Koszyk</p>
		{% if show_info %}
			<h1 class="color-green font-weight-600 font-size-large text-align-center margin-top-32px margin-bottom-32px">Produkt został pomyślnie dodany do koszyka :)</h1>
		{% endif %}
		<section class="section">
			{% if products %}
				{% for product in products %}
					<div class="box padding-16px margin-bottom-16px">
						<div class="cart-item float-left">
							<div class="cart-item-section">
								<input class="cart-item-checkbox" type="checkbox" checked/>
								<img 
									class="cart-item-cover"
									src="{{ product.cover_img_url }}"
									alt="{{ product.title }}"
								/>
								<div class="float-left">
									<p class="cart-item-title font-size-medium">{{ product.title }}</p>
									<p class="cart-item-author ">{{ product.author.email }}</p>
								</div>
							</div>
						</div>
						<form method="POST" action="/cart/" class="float-right">
							{% csrf_token %}
							<input type="hidden" name="product_id" value="{{ product.id }}">
							<input type="hidden" name="action_type" value="delete-product-from-cart" />
							<button class="font-size-medium color-grey float-left">
								<i class="fas fa-times"></i>
							</button>
						</form>
						<div class="cart-item-section float-right">	
								<p class="cart-item-price">{{ product.price }} zł</p>
						</div>
					</div>
				{% endfor %}

				{% else %}
				<h1 class="font-size-large color-black font-weight-600 text-align-center padding-top-64px padding-bottom-64px">Twój koszyk jest pusty</h1>
			{% endif %}
		</section>
	</section>
	<section class="section margin-top-32px margin-bottom-32px">
		<div class="float-left">
			{% if request.user.is_authenticated and products %}
				<button id="show-save-cart-popup" class="btn btn-green">Zapisz koszyk</button>
			{% endif %}
			<button class="btn btn-green margin-left-16px" type="share">Udostępnij koszyk</button>
		</div>
		<form class="float-right">
			<p class="float-left color-black font-size-medium">Razem: 
				{% if 'cart' in request.session %}
					<b class="color-orange">{{ request.session.cart.total_price }} zł</b>
				{% else %}
					<b class="color-orange">0.00 zł</b>
				{% endif %}
			</p>
			<button class="btn btn-orange margin-left-16px">Zapłać</button>
		</form>
	</section>
</div>
{% include 'components/smallfooter.html' %}

<script src="{% static 'js/popup.js' %}"></script>
{% endblock %}