{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}
	Koszyk
	{% if 'cart' in request.session %}
		({{ request.session.cart.item_count }})
	{% else %}
		(0)
	{% endif %}
{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/cart~indexPage.css' %}">
<link rel="stylesheet" href="{% static 'dist/cart~indexPage.css' %}">
{% endblock %}

{% block body %}
	<!-- Modals -->
	{% if request.user.is_authenticated and products %}
		{% include 'components/modals/save-cart-modal.html' %}
	{% endif %}
	
	{% include 'components/navigation.html' %}
	
	<div class="wrapper">
		<div class="section flex-center">
			<div class="checkout-step checkout-step-current flex-center">
				<figure class="flex-center">
					<span class="h2">1</span>
				</figure>
				<span class="h2">Koszyk</span>
			</div>
			<div class="checkout-step__separator"></div>
			<div class="checkout-step flex-center">
				<figure class="flex-center">
					<span class="h2">2</span>
				</figure>
				<span class="h2">Wysyłka</span>
			</div>
			<div class="checkout-step__separator"></div>
			<div class="checkout-step flex-center">
				<figure class="flex-center">
					<span class="h2">3</span>
				</figure>
				<span class="h2">Płatność</span>
			</div>
		</div>
		<div class="flex-center" style="min-height: calc(100vh - 258.2px);">
			<div class="section">
				<div class="section" style="margin-top: 2rem;">
					{% if products %}
						{% for product in products %}
							<div class="cart-items">
								<div class="product">
									<div class="flex-center">
										<input type="checkbox" checked />
									</div>
									<img src="{% static product.cover_img.path %}" style="width:100%;" />
									<div class="product__details">
										<div>
											<h3 class="product__title">{{ product.title }}</h3>
											<p class="product__author">{{ product.author }}</p>
										</div>
										<div>
											<p class="product__price">{{ product.price }} zł</p>
										</div>
									</div>
									<form method="POST" action="{% url 'web:cart-action-delete-item' %}">
										{% csrf_token %}
										<input type="hidden" name="product_id" value="{{ product.id }}" />
										<button style="background-color: transparent; border: none; outline: none;">
											<i class="fas fa-times h2 product__delete"></i>
										</button>
									</form>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="empty-cart flex-center">
							<p class="h2">Twój koszyk jest pusty 😯</p>
						</div>
					{% endif %}
				</div>
				<div class="cart-details">
					<div>
						{% if request.user.is_authenticated and products %}
							<button id="js-show-save-cart-modal" class="btn btn__primary">Zapisz koszyk</button>
						{% endif %}
					</div>
					<div>
						{% if 'cart' in request.session %}
							<p>Razem: {{ request.session.cart.total_price }} zł</p>
							<a class="btn btn__primary" href="{% url 'web:cart-checkout-delivery' %}">Przejdź dalej</a>
						{% else %}
							<p>Razem: 0.00 zł</p>
							<a class="btn btn__disabled">Przejdź dalej</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'components/small-footer-light.html' %}
{% endblock %}