{% extends 'base.html' %}
{% load static %}

{% block title-description %}Weryfikacja konta{% endblock %}

{% block page-id %}p-email-verification{% endblock %}
{% block page-scripts %}
	<script defer src="{% static 'dist/emailVerification.bundle.js' %}"></script>
{% endblock  %}

{% block body %}
	<div class="wrapper flex-center">
		<div class="section">
			<div class="logo">
				<a href="{% url 'web:index' %}">
					<img src="{% static 'images/blue-logo.png' %}">
				</a>
			</div>
			<h3 class="greeting">Dziękujemy za rejestrację</h3>
			<p class="information">
				Na podany email <strong>{{ email }}</strong> został wysłany kod weryfikacyjny.
			</p>
			<div
				id="js-mount-form-component"
				data-email="{{ email }}"
				data-login-page="{% url 'web:login' %}"
				data-confirm-action="{% url 'api:confirm-email-verification-code' %}"
				data-resend-action="{% url 'api:resend-email-verification-code' %}"
			></div>
		</div>
	</div>
	{% include 'components/small-footer-light.html' %}
{% endblock %}