{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Strona główna{% endblock %}

{% block page-id %}p-home{% endblock %}

{% block body %}
	{% include 'components/navigation.html' %}
	<div class="wrapper">
		<div class="section">
			<p class="section__title">Kategorie</p>
			<div class="link-list" style="margin-top: 1rem;">
				{% for category in categories %}
					{% if current_category == category.name %}
						<div class="link link__current flex-center">
							<a href="{% url 'web:index' %}?c={{ category.name }}">
								<p>{{ category.name }}</p>
							</a>
						</div>
						<div class="link flex-center">
							<a href="{% url 'web:index' %}">
								<p>Wszystkie</p>
							</a>
						</div>
					{% else %}
						<div class="link flex-center">
							<a href="{% url 'web:index' %}?c={{ category.name }}">
								<p>{{ category.name }}</p>
							</a>
						</div>
						<div class="link link__current flex-center">
							<a href="{% url 'web:index' %}">
								<p>Wszystkie</p>
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="section">
			<form class="search" action="{% url 'web:search-results' %}">
				<input class="search__input" name="query" type="text" placeholder="Wyszukaj..." required/>
				<button class="btn btn__secondary btn__secondary-outline search__submit">Szukaj</button>
			</form>
			<div class="banner"></div>
			<div class="section">
				{% if products %}
					<div class="product-list">
						{% for product in products %}
							<div class="product">
								<img src="{% static product.cover_img.path %}" alt="{{ product.title }}" />
								<div class="product__info">
									<div class="section">
										<h2 class="product__title">{{ product.title }}</h2>
										<h4 class="product__author">{{ product.author }}</h4>
									</div>
									<div class="section">
										<p class="product__price h2">{{ product.price }} zł</p>
										<div class="product__stars h2">
											{% for _ in product.filled_stars  %}
												<i class="fas fa-star"></i>
											{% endfor %}
											{% for _ in product.empty_stars %}
												<i class="far fa-star"></i>
											{% endfor %}
										</div>
									</div>
									<div class="section">
										<div class="product__metadata">
											<p>Liczba kopii: <strong>{{ product.copies }}</strong></p>
											<p>Odsłony: <strong>{{ product.views }}</strong></p>
											<p>Opinie: <strong>{{ product.rating_count }}</strong></p>
											<p>Data publikacji:
												<strong>{{ product.published_at.day }}.{{ product.published_at.month }}.{{ product.published_at.year }}</strong>
											</p>
										</div>
										<a class="btn btn__secondary btn-block" href="{% url 'web:product-detail' url_name=product.url_name %}">Pokaż szczegóły</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% include 'components/big-footer.html' %}
{% endblock %}