{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Zapisane koszyki{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static '/styles/pages/my_carts.css' %}">
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="container">
	<p class="site-title">Zapisane koszyki</p>
	<form class="search">
		<input 
			class="search__input" 
			type="text"
			name="q"
			placeholder="Wyszukaj"
			required 
		/>
		<button class="search__submit" type="submit">Szukaj</button>
	</form>
	<section class="choice">
		<p class="choice__link choice__current">Listwa zapisanych koszyków</p>
		<form class="sort">
			<label class="sort__label">SORTOWANIE</label>
			<select class="sort__select" name="sort">
				<option class="sort__option">Domyślnie</option>
			</select>
		</form>
	</section>
	<div class="wrapper">
		{% if carts %}
			<div class="product-list">
				{% for cart in carts %}
					<div class="product">
						<div class="product__section">
							<p class="product__title">{{ cart.title }}</p>
							<form method="POST" action="/my/carts/" class="product__actions">
								{%  csrf_token %}
								<input type="hidden" name="action_type" value="delete-cart" />
								<input type="hidden" name="cart_id" value="{{ cart.id }}" />
								<a class="product__action__link" href="{% url 'web:saved-cart-detail' id=cart.id %}">
									Podgląd
								</a>
								<button class="product__action__link">Usuń</button>
							</form>
						</div>
						<p class="product__footer"><b>Data dodania: </b> {{ cart.created_at }}</p>
					</div>
				{% endfor %}
			</div>
			{% else %}
			<h1 class="not-found-products">Nie posiadasz zapisanych koszyków</h1>
		{% endif %}
	</div>
</div>
{% include 'components/smallfooter.html' %}
{% endblock %}