{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Transkacja zakończona sukcesem{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="container text-align-center flex-center">
	<div class="section">
		<p class="font-size-large color-green">Dziękuje za zakupy!</p>
		<p class="font-size-medium color-black padding-top-8px">Po zaakceptowaniu transakcji e-book zostanie wysłany na <b>{{ email }}</b>
		</p>
		<a href="{% url 'web:index' %}">
			<button class="btn btn-orange margin-top-16px">Kontynuj zakupy</button>
		</a>
	</div>
</div>
{% include 'components/smallfooter.html' %}
{% endblock %}