{% extends 'base.html' %}
{% load static  %}

{% block title-description %}
{{ existing_publisher.full_name }}
{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/profilePage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/profilePage.css' %}">
{% endblock %}

{% block page-scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<link rel="preload" href="{% static 'dist/profilePage.js' %}" as="script">
<script defer src="{% static 'dist/profilePage.js' %}"></script>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="wrapper">
    <div class="profileBadge">
        {% if existing_publisher.avatar_img %}
        <img class="profileBadge__avatar" src="{{ existing_publisher.avatar_img.path }}">
        {% else %}
        <div class="profileBadge__avatar"></div>
        {% endif %}
        <p class="profileBadge__fullName">{{ existing_publisher.full_name }}</p>
        <p id="who-you-are" class="profileBadge__whoIsHe">{{ existing_publisher.who_you_are }}</p>
        <p id="bio" class="profileBadge__description">{{ existing_publisher.bio }}</p>
    </div>
    <div class="container">
        <div class="profileBanner">
            {% if existing_publisher.banner_img %}
            <img class="profileBanner__img" src="{{ existing_publisher.banner_img.path }}">
            {% else %}
            <div class="profileBanner__img"></div>
            {% endif %}
            <div class="profileBanner__content">
                <p 
                    id="banner-text" 
                    class="profileBanner__text"
                >
                    {{ existing_publisher.banner_text }}
                </p>
                {% if existing_publisher.banner_product %}
                <img 
                    id="banner-product"
                    class="profileBanner__productHighlight" 
                    src="{{ existing_publisher.banner_product.cover_img.path }}"
                >
                {% endif %}
            </div>
        </div>
        <div class="pageBar">
            {% if request.user.is_authenticated %}
            {% if current_user_is_profile_owner %}
            <button 
                id="editBtn"
                class="btn btn__secondary"
            >
                Edytuj profil
            </button>
            {% else %}
            {% if current_user_already_following %}
            <button 
                id="unollowBtn"
                data-existing_publisher-id="{{ existing_publisher.id }}"  
                class="btn btn__secondary"
            >
                <i class="fas fa-check"></i>&nbsp;&nbsp;
                Obserwujesz
            </button>
            {% else %}
            <button 
                id="followBtn" 
                data-existing_publisher-id="{{ existing_publisher.id }}"  
                class="btn btn__primary"
            >
                Zaobserwuj
            </button>
            {% endif %}
            {% endif %}
            {% else %}
            <a class="btn btn__primary" href="{% url 'web:login' %}">Zaobserwuj</a>
            {% endif %}
        </div>
        <div class="pageWidget">
            <div class="profileStatistics">
                <div class="profileStatisticContainer profileTextStatistic">
                    <div class="profileTextStatistic__container">
                        <p class="profileTextStatistic__key">Obserwujący</p>
                        <p id="followers" class="profileTextStatistic__value">{{ followers_count }}</p>
                    </div>
                    <div class="profileTextStatistic__container">
                        <p class="profileTextStatistic__key">Ilość ebooków</p>
                        <p class="profileTextStatistic__value">{{ products_count }}</p>
                    </div>
                </div>
                <div class="profileStatisticContainer profileChartStatistic">
                    <div id="categoriesChart">
                    {% include 'components/loader.html' %}
                    </div>
                </div>
                <div class="profileStatisticContainer profileChartStatistic">
                    <div id="languagesChart">
                    {% include 'components/loader.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <p class="section__title">Lista produktów</p>
            <div class="product-list">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.cover_img.path }}" alt="{{ product.title }}" />
                <div class="product__info">
                    <div class="section">
                        <h2 class="product__title">{{ product.title }}</h2>
                        <h4 class="product__author">{{ product.author }}</h4>
                    </div>
                    <div class="section">
                        <p class="product__price h2">{{ product.price }} zł</p>
                        <div class="product__stars h2">
                            {% for _ in product.filled_stars  %}
                            <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for _ in product.empty_stars %}
                            <i class="far fa-star"></i>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="section">
                        <div class="product__metadata">
                            <p>
                                Liczba kopii: 
                                <strong>
                                    {% if product.has_infinity_copies %}
                                    <i class="fas fa-infinity"></i>
                                    {% else %}
                                    {{ product.copies }}
                                    {% endif %}
                                </strong>
                            </p>
                            <p>Odsłony: <strong>0</strong></p>
                            <p>Opinie: <strong>{{ product.rating_count }}</strong></p>
                            <p>Data publikacji:
                                <strong>{{ product.created_at.day }}.{{ product.created_at.month }}.{{ product.created_at.year }}</strong>
                            </p>
                        </div>
                        <a class="btn btn__secondary btn-block" href="{% url 'web:product' id=product.id %}">Pokaż szczegóły</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'components/big-footer.html' %}
{% endblock %}