{% extends 'layouts/base.html' %} 
{% load static %}

{% block title-description%}Ustawienia{% endblock %} 

{% block page-id %}p-publisher-settings{% endblock %}
{% block page-class %}p-settings{% endblock %}
{% block page-scripts %}
    <script defer src="{% static 'dist/settings.bundle.js' %}"></script>
{% endblock %}

{% block body %}
    {% include 'components/navigation.html' %}
    <div class="wrapper">
        <div class="section">
            <p class="section__title">Ustawienia</p>
            <div class="link-list" style="margin-top: 1rem;">
                <div class="link flex-center">
                    <a href="{% url 'web:user-settings' %}">
                        <p>Użytkownik</p>
                    </a>
                </div>
                <div class="link link__current flex-center">
                    <a href="{% url 'web:publisher-settings' %}">
                        <p>Sprzedający</p>
                    </a>
                </div>
                <!-- <div class="link-subsection">
                    <p class="link link__current">Dane do wypłat</p>
                    <p class="link">Wiadomości</p>
                    <p class="link">Inne</p>
                </div> -->
            </div>
        </div>
        <form 
            id="js-mount-settings-form" 
            data-save-settings-action="{% url 'api:update-publisher-settings' %}"
            data-settings-for="publisher"
            autocomplete="off"
            @submit.prevent="handleSaveSettings"
            @keypress.enter.prevent="() => null"
        >
            <div class="section">
                <p class="section__title">Ustawienia sprzedającego</p>
                <div id="js-publisher-settings-section" class="option-list">
                    {% if user.publisher %}
                        <div class="option">
                            <label>IMIĘ</label>
                            <div class="option__body">
                                <input 
                                    class="option__input" 
                                    type="text" 
                                    name="first_name" 
                                    value="{{ user.publisher.first_name }}" readonly
                                    @click="handleEnableEditMode"
                                    @change="handleChangeOption" 
                                />
                                <button 
                                    class="btn btn__primary edit-icon" 
                                    type="button"
                                    @click="handleEnableEditMode"
                                ></button>
                                <button 
                                    class="btn btn__secondary check-icon" 
                                    type="button" 
                                    style="display: none;"
                                    @click="handleDisableEditMode($event, true)"
                                ></button>
                                <button 
                                    class="btn btn__danger cancel-icon" 
                                    type="button"  
                                    style="display: none"
                                    @click="handleDisableEditMode"
                                ></button>
                            </div>
                        </div>
                        <div class="option">
                            <label>NAZWISKO</label>
                            <div class="option__body">
                                <input 
                                    class="option__input" 
                                    type="text" 
                                    name="last_name"
                                    value="{{ user.publisher.last_name }}" readonly
                                    @click="handleEnableEditMode"
                                    @change="handleChangeOption" 
                                />
                                <button 
                                    class="btn btn__primary edit-icon" 
                                    type="button"
                                    @click="handleEnableEditMode"
                                ></button>
                                <button 
                                    class="btn btn__secondary check-icon" 
                                    type="button" 
                                    style="display: none;"
                                    @click="handleDisableEditMode($event, true)"
                                ></button>
                                <button 
                                    class="btn btn__danger cancel-icon" 
                                    type="button"  
                                    style="display: none"
                                    @click="handleDisableEditMode"
                                ></button>
                            </div>
                        </div>
                        <div class="option">
                            <label>NUMER KONTA</label>
                            <div class="option__body">
                                <input 
                                    class="option__input" 
                                    type="text" 
                                    name="account_number"
                                    value="{{ user.publisher.account_number }}" readonly
                                    @click="handleEnableEditMode"
                                    @change="handleChangeOption" 
                                />
                                <button 
                                    class="btn btn__primary edit-icon"
                                    type="button"
                                    @click="handleEnableEditMode"
                                ></button>
                                <button 
                                    class="btn btn__secondary check-icon" 
                                    type="button" 
                                    style="display: none;"
                                    @click="handleEnableEditMode($event, true)"
                                ></button>
                                <button 
                                    class="btn btn__danger cancel-icon" 
                                    type="button"  
                                    style="display: none"
                                    @click="handleDisableEditMode"
                                ></button>
                            </div>
                        </div>
                        <div class="option">
                            <label>SWIFT</label>
                            <div class="option__body">
                                <input 
                                    class="option__input" 
                                    type="text" 
                                    name="swift"
                                    value="{{ user.publisher.swift }}"readonly 
                                    @click="handleEnableEditMode"
                                    @change="handleChangeOption"
                                />
                                <button 
                                    class="btn btn__primary edit-icon"
                                    type="button"
                                    @click="handleEnableEditMode"
                                ></button>
                                <button 
                                    class="btn btn__secondary check-icon" 
                                    type="button" 
                                    style="display: none;"
                                    @click="handleDisableEditMode($event, true)"
                                ></button>
                                <button 
                                    class="btn btn__danger cancel-icon" 
                                    type="button"  
                                    style="display: none"
                                    @click="handleDisableEditMode"
                                ></button>
                            </div>
                        </div>
                        <div class="option option-checkbox">
                            <input 
                                type="hidden" 
                                name="sell_notification" 
                                value="False" 
                            />
                            <p class="option__name">
                                Powiadomienie o sprzedanej kopii ebooka
                            </p>
                            <input 
                                class="switch" 
                                type="checkbox" 
                                name="sell_notification"
                                value="True" 
                                {% if user.publisher.sell_notification %}
                                    checked="checked"
                                {% endif %}
                            />
                        </div>
                    {% else %}
                        <div 
                            style="text-align: left;"
                        >
                            <p>
                                Aby utworzyć konto sprzedającego, kliknij przycisk poniżej
                            </p>
                            <a 
                                href="{% url 'web:salesmanager-start' %}" 
                                class="btn btn__primary-outline"
                                style="margin-top: 0.5rem;"
                            >
                                Utwórz
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% if user.publisher %}
                    <button 
                        type="submit" 
                        class="btn btn__primary-outline" 
                        style="margin-top: 2rem;"
                    >
                        Zapisz ustawienia
                    </button>
                {% endif %}
            </button>
            </div>
        </form>
    </div>
    {% include 'components/small-footer-light.html' %} 
{% endblock %}