{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Moja półka{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/purchasedProductsPage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/purchasedProductsPage.css' %}">
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="wrapper">
	<div class="section">
		<p class="section__title">Moja półka</p>
		<div class="record-list">
		{% if purchased_products %}
		{% for purchased_product in purchased_products %}
		<div class="record">
			<div>
				<p class="record__title">{{ purchased.product.title }}</p>
				<div class="record__informations">
					<p class="record__information">
						Data zapsiu - <strong>{{ purchased_product.purchased_at.day }}.{{ purchased_product.purchased_at.month }}.{{ purchased_product.purchased_at.year }}</strong>
					</p>
				</div>
			</div>
			<div>
				<a href="#" class="btn btn__primary">Pobierz</a>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="section flex-center">
			<h2>Twoja półka zakupionych produtków jest pusta.</h2>
		</div>
		{% endif %}
		</div>
	</div>
</div>
{% include 'components/small-footer-light.html' %}
{% endblock %}