{% extends 'csr-base.html' %}
{% load static %}

{% block title-description%}
Zresetuj swoje hasło
{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/resetPasswordPage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/resetPasswordPage.css' %}">
{% endblock %}

{% block page-scripts %}	
<link rel="preload" href="{% static 'dist/resetPasswordPage.js' %}" as="script">
<script defer src="{% static 'dist/resetPasswordPage.js' %}"></script>
{% endblock %}