{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Twój koszyk{% endblock %}

{% block css %}
<style>
	.box {
		height: 256px;
	}

	.footer-text {
		color: var(--green);
	}

	.footer-link {
		color: var(--green);
	}

	button[type="share"] {
		width: 140px;
	}

	.flex-start {
		justify-content: flex-start;
		width: 50%;
	}

	.flex-end {
		width: 50%;
		justify-content: flex-end;
	}
</style>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="container">
	<section class="section">
		<div class="section flex-center">
			<div class="flex-start flex-center">
				<p class="font-size-big font-weight-600 color-green margin-bottom-8px">{{ cart.title }}</p>
			</div>
			<div class="flex-end flex-center">
				<p class="font-size-small color-black font-weight-300"><b class="color-green">Data dodania: </b> {{ cart.created_at.day }}.{{ cart.created_at.month }}.{{ cart.created_at.year }}</p>
			</div>
		</div>
		<p class="section color-black font-size-small font-weight-300 margin-bottom-32px">{{ cart.description }}</p>
		<section class="section">
			{% for item in cart_items %}
				<div class="box padding-16px margin-bottom-16px">
					<div class="cart-item float-left">
						<div class="cart-item-section">
							<input class="cart-item-checkbox" type="checkbox" checked/>
							<img 
								class="cart-item-cover"
								src="{{ item.product.cover_img_url }}"
								alt="{{ item.product.title }}"
							/>
							<div class="float-left">
								<p class="cart-item-title font-size-medium">{{ item.product.title }}</p>
								<p class="cart-item-author ">{{ item.product.author.email }}</p>
							</div>
						</div>
					</div>
					<!-- <form class="float-right">
						{% csrf_token %}
						<input type="hidden" name="product_id" value="{{ product.id }}">
						<input type="hidden" name="action_type" value="delete-product-from-cart" />
						<button class="font-size-medium color-grey float-left">
							<i class="fas fa-times"></i>
						</button>
					</form> -->
					<div class="cart-item-section float-right">	
							<p class="cart-item-price">{{ item.product.price }} zł</p>
					</div>
				</div>
			{% endfor %}
		</section>
	</section>
	<section class="section margin-top-32px margin-bottom-32px">
		<div class="float-left">
			<button class="btn btn-green" type="share">Udostępnij koszyk</button>
		</div>
		<form class="float-right">
			<p class="float-left color-black font-size-medium">Razem: <b class="color-orange">{{ total_price }} zł</b>
			</p>
			<button class="btn btn-orange margin-left-16px">Zapłać</button>
		</form>
	</section>
</div>
{% include 'components/smallfooter.html' %}
{% endblock %}