{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Twój koszyk{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static '/styles/pages/saved_cart_detail.css' %}">
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="container">
	<section class="section">
		<div class="saved-cart-info">
			<p class="saved-cart-title">{{ cart.title }}</p>
			<p class="saved-cart-created-at"><b style="color: var(--green);">Data utworzenia: </b> {{ cart.created_at.day }}.{{ cart.created_at.month }}.{{ cart.created_at.year }}</p>
			<p class="saved-cart-description">{{ cart.description }}</p>
		</div>
		<section class="section">
			{% for item in cart_items %}
				<div class="product">
					<div style="width: calc(100% - 24px); height: 224px; float: left">
						<div class="product__section" style="float: left;">
							<img 
								class="product__cover"
								src="{{ item.product.cover_img_url }}"
								alt="{{ item.product.title }}"
							/>
							<div style="float: left;">
								<p class="product__title">{{ item.product.title }}</p>
								<p class="product__author">{{ item.product.author.email }}</p>
							</div>
						</div>
						<div class="product__section" style="float: right;">	
							<p class="product__price">{{ item.product.price }} zł</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</section>
	<section class="section bar">
		<div style="float: left;">
			<button class="btn shareCartBtn">Udostępnij koszyk</button>
		</div>
		<form class="cart-checkout-form">
			<p class="cart-total-price">Razem: 
				<b style="color: var(--orange);">{{ total_price }} zł</b>
			</p>
			<button class="btn buyBtn">Zapłać</button>
		</form>
	</section>
</div>
{% include 'components/smallfooter.html' %}

<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}