{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}{{ cart.title }}{% endblock %}

{% block page-id %}p-shared-cart{% endblock %}

{% block meta-tags %}
	<meta property="og:url" content="{% url 'web:shared-cart-detail' code=shared_cart.code %}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ cart.title }}" />
	<meta property="og:description" content="{{ cart.description }}" />
{% endblock %}

{% block body %}
	{% include 'components/navigation.html' %}
	<div class="wrapper">
		<div class="cart-information">
			<div class="section top-content">
				<p class="section__title">{{ cart.title }}</p>
				<p>Data udostępnienia:
					<strong>{{ shared_cart.shared_at.day }}.{{ shared_cart.shared_at.month }}.{{ shared_cart.shared_at.year }}</strong></p>
			</div>
			<div class="cart-description">
				{{ cart.description }}
			</div>
		</div>
		<div class="section">
			<div class="cart-items section">
				{% for item in cart_items %}
				<div class="product">
					<img src="{% static item.product.cover_img.path %}" alt="{{ item.product.title }}" />
					<div class="product__details">
						<div>
							<h3 class="product__title">{{ item.product.title }}</h3>
							<p class="product__author">{{ item.product.author }}</p>
						</div>
						<div>
							<p class="product__price">{{ item.product.price }} zł</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% include 'components/small-footer-light.html' %}
{% endblock %}