{% extends 'base.html' %}
{% load static %}

{% block title-description %}
Potwierdzenie rejestracji konta użytkownika
{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/userRegisterConfirmationPage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/userRegisterConfirmationPage.css' %}">
{% endblock %}

{% block page-scripts %}	
<link rel="preload" href="{% static 'dist/userRegisterConfirmationPage.js' %}" as="script">
<script defer src="{% static 'dist/userRegisterConfirmationPage.js' %}"></script>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div id="mount0_0">
{% include 'components/loader.html' %}
</div>
{% include 'components/small-footer-light.html' %}
{% endblock %}