{% extends 'layouts/base.html' %} 
{% load static %}

{% block title-description%}Ustawienia{% endblock %} 

{% block page-id %}p-user-settings{% endblock %} 
{% block page-class %}p-settings{% endblock %}
{% block page-scripts %}
    <script defer src="{% static 'dist/settings.bundle.js' %}"></script>
    <script defer src="{% static 'dist/userSettings.bundle.js' %}"></script>
{% endblock %}

{% block body %}
    <!-- Modals -->
    {% if not user.email_verified %}
        {% include 'components/modals/email-verification-modal.html' %}
    {% endif %}

    {% include 'components/navigation.html' %}
    <div class="wrapper">
        <div class="section">
            <p class="section__title">Ustawienia</p>
            <div class="link-list" style="margin-top: 1rem;">
                <div class="link link__current flex-center">
                    <a href="{% url 'web:user-settings' %}">
                        <p>Użytkownik</p>
                    </a>
                </div>
                <div class="link flex-center">
                    <a href="{% url 'web:publisher-settings' %}">
                        <p>Sprzedający</p>
                    </a>
                </div>
            </div>
        </div>
        <form 
            id="js-mount-settings-form" 
            data-save-settings-action="{% url 'api:update-user-settings' %}"
            data-settings-for="user" 
            autocomplete="off"
            @submit.prevent="handleSaveSettings"
            @keypress.enter.prevent="() => null"
        >
            <div class="section">
                <p class="section__title">Ustawienia użytkownika</p>
                <div class="option-list">
                    <div class="option">
                        <label>NAZWA UŻYTKOWNIKA</label>
                        <div class="option__body">
                            <input
                                class="option__input"
                                type="text" 
                                name="username" 
                                value="{{ user.username }}" 
                                ref="username"
                                readonly
                                @click="handleEnableEditMode"
                                @change="handleChangeOption"
                            />
                            <button 
                                class="btn btn__primary edit-icon" 
                                type="button"
                                @click="handleEnableEditMode"
                            ></button>
                            <button 
                                class="btn btn__secondary check-icon" 
                                type="button" 
                                style="display: none;"
                                @click="handleDisableEditMode($event, true)"
                            ></button>
                            <button 
                                class="btn btn__danger cancel-icon" 
                                type="button" 
                                style="display: none"
                                @click="handleDisableEditMode"
                            >        
                            </button>
                        </div>
                    </div>
                    <div class="option">
                        <label>EMAIL</label>
                        {% if user.email_verified %}
                            <p 
                                class="option__information" 
                                style="margin-bottom: .5rem;"
                            >
                                Po zmianie adresu email, w najbliższym czasie będzie wymagana weryfikacjia.
                            </p>
                            <div class="option__body">
                                <input
                                    class="option__input"
                                    type="email" 
                                    name="email" 
                                    value="{{ user.email }}"
                                    ref="email"
                                    readonly
                                    @click="handleEnableEditMode"
                                    @change="handleChangeOption"
                                />
                                <button 
                                    class="btn btn__primary edit-icon"
                                    type="button"
                                    @click="handleEnableEditMode"
                                ></button>
                                <button 
                                    class="btn btn__secondary check-icon" 
                                    type="button" 
                                    style="display: none;"
                                    @click="handleDisableEditMode($event, true)"
                                ></button>
                                <button 
                                    class="btn btn__danger cancel-icon" 
                                    type="button" 
                                    style="display: none"
                                    @click="handleDisableEditMode"
                                >
                                </button>
                            </div>
                        {% else %}
                            <email-confirmation-required-info />
                        {% endif %}
                    </div>
                </div>
                <button 
                    type="submit" 
                    class="btn btn__primary-outline" 
                    style="margin-top: 2rem"
                >
                    Zapisz ustawienia
                </button>
            </div>
        </form>
    </div>
    {% include 'components/small-footer-light.html' %} 
{% endblock %}