.wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.pageHeader {
    max-width: 75%;
    min-width: 512px;
    height: auto;
    margin-bottom: 2rem;
    text-align: left;

    &__title {
        margin-bottom: 1rem;
        color: $color-green;
    }
}

.productVersionsList {
    &__empty {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 256px;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 256px;

        &-box {
            max-width: 256px;
        }
    }
}

.form {
    max-width: 512px;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    margin: 0 auto;

    &__group {
        width: 100%;

        &-title {
            text-align: center;
            color: $color-green;
            font-size: $font-size-medium;
            font-weight: bold;
        }

        &-grid {
            display: grid;
            grid-column-gap: .5rem;
         
            &-2 {
                grid-template-columns: repeat(2, minmax(128px, 256px));
            }

            &-3 {
                grid-template-columns: repeat(3, minmax(128px, 256px));
            }
        }

        &-textarea {
            & > p {
                color: $color-grey;
            }
        }

        &-checkbox {
            display: flex;
            align-items: center;
            justify-content: left;

            & > label {
                margin-bottom: 0;
                margin-left: .5rem;
            }
        }
        &-details {
            text-align: left;
            margin-bottom: 1rem;

            &-cover {
                margin-left: 1rem;
            }
        }
    }
}

.age-categories {
    display: grid;
    grid-template-columns: repeat(5, 99.2px);
    grid-column-gap: .25rem;

    .age-category {
        width: 100%;
        height: 99.2px;
        background-color: white;
        border-radius: 2px;
        border: 1px solid $color-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        & > p {
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;
        }

        &[age="3"], &[age="7"] {
            border: 1px solid #00FF57;
        }

        &[age="12"] {
            border: 1px solid #2EC461;
        }

        &[age="16"] {
            border: 1px solid $color-orange;
        }

        &[age="18"] {
            border: 1px solid $color-red;
        }

        &[age="3"]:hover, &[age="7"]:hover {
            color: white;
            background-color: #00FF57;
            border: none;
        }

        &[age="12"]:hover {
            color: white;
            background-color: #2EC461;
            border: none;
        }

        &[age="16"]:hover {
            color: white;
            background-color: $color-orange;
            border: none;
        }

        &[age="18"]:hover {
            color: white;
            background-color: $color-red;
            border: none;
        }

        &:hover ~ .age-category[age="3"] {
            color: white;
            background-color: #00FF57;
            border: none;
        }

        &:hover ~ .age-category[age="7"] {
            color: white;
            background-color: #00FF57;
            border: none;
        }

        &:hover ~ .age-category[age="12"] {
            color: white;
            background-color: #2EC461;
            border: none;
        }

        &:hover ~ .age-category[age="16"] {
            color: white;
            background-color: $color-orange;
            border: none;
        }

        &:hover ~ .age-category[age="18"] {
            color: white;
            background-color: $color-red;
            border: none;
        }

        &-selected {
            &[age="3"], &[age="7"] {
                color: white;
                background-color: #00FF57;
                border: none;
            }

            &[age="12"] {
                color: white;
                background-color: #2EC461;
                border: none;
            }

            &[age="16"] {
                color: white;
                background-color: $color-orange;
                border: none;
            }

            &[age="18"] {
                color: white;
                background-color: $color-red;
                border: none;
            }

            & ~ .age-category[age="3"] {
                color: white;
                background-color: #00FF57;
                border: none;
            }

            & ~ .age-category[age="7"] {
                color: white;
                background-color: #00FF57;
                border: none;
            }

            & ~ .age-category[age="12"] {
                color: white;
                background-color: #2EC461;
                border: none;
            }

            & ~ .age-category[age="16"] {
                color: white;
                background-color: $color-orange;
                border: none;
            }

            & ~ .age-category[age="18"] {
                color: white;
                background-color: $color-red;
                border: none;
            }
        }
    }
}

.files {
    &__grid {
        display: grid;


        &-3 {
            grid-template-columns: 168px 168px 168px;
            grid-column-gap: .25rem;
        }

        &-4 {
            grid-template-columns: repeat(4, 125px);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: .25rem;
            grid-row-gap: .25rem;
        }
    }

    &-ebook {
        .file {
            &__upload {
                &-type {
                    text-align: center;
                    font-weight: bold;
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                }
            }
        }
    }

    &-image {
        .file {
            &__upload {
                width: 125px;
                height: 160px;
                background-color: $color-white;
                border-radius: 2px;
                border: 1px solid $color-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: $color-grey;

                &:hover {
                    cursor: pointer;
                    color: white;
                    background-color: $color-green;
                    border: 1px solid $color-green;
                }

                &-cover {
                    width: 220px;
                    height: 320px;

                    & > img {
                        width: 220px !important;
                        height: 320px !important;
                    }

                    .file__upload-actions {
                        width: 220px;
                        height: 320px;
                    }
                }

                &-actions {
                    height: 160px;
                    width: 125px;
                    display: none;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(1, 22, 39, 0.5);

                    &:hover {
                        cursor: default;
                    }

                    & > button {
                        width: 32px;
                        height: 32px;
                        padding: 0;
                    }
                }

                &-preview {
                    width: 100%;
                    height: 100%;
                    border: none;

                    & > img {
                        width: 125px;
                        height: 160px;
                    }

                    &:hover {
                        border: none;

                        & > .file__upload-actions {
                            display: flex;
                        }
                    }
                }
            }
        }

        &-cover {
            display: flex;
            justify-content: left;
        }
    }
}

.input-information {
    color: $color-orange;

    &:hover {
        cursor: pointer;
    }
}

textarea {
    min-height: 128px;
    max-height: 256px;
    padding: 1rem;
}

.error-text {
    color: $color-red;
    font-weight: bold;
    margin-bottom: 1rem;
}