.chooser {
    min-height: calc(100vh - 120px);

    .wrapper {
        padding: 0;
        min-height: auto;
    }

    &__title {
        color: $color-green;
    }

    &__description {
        margin-bottom: 1rem;
        font-size: $font-size-medium;
    }

    &__optionList {
        display: grid;
        grid-template-columns: 256px 256px;
        column-gap: 1rem;
    }

    &__option {
        width: 256px;
        height: 256px;
        padding: .5rem;
        border-radius: 2px;
        background-color: white;
        border: 1px solid $color-grey;
        text-align: center;

        & > div > i {
            font-size: 7rem;
            color: $color-orange;
        }

        & > div > p {
            font-weight: bold;
            font-size: $font-size-medium;
            margin-top: .5rem;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-orange;

            & > div > i {
                color: white;
            }

            & > div > p {
                color: white;
            }
        }
    }
}

.form {
    margin: 0 auto;
    max-width: 512px;

    &__group {
        &-col-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: .5rem;
        }
    }

    &__inputContainer {
        margin-bottom: .5rem;;
    }
}