{% load static %}

<footer class="footer big-footer">
	<div class="footer-container">
		<div class="footer-section">
			<div class="footer-logo">
				<a href="{% url 'web:index' %}">
					<img 
						class="footer-logo-img"
						src="{% static 'images/white-logo.png' %}"
						alt="White logo" 
					/>
				</a>
			</div>
			<div class="footer-section">
				<a class="foote-link footer-social-link" href="#">
					<i class="fab fa-facebook-square"></i>
				</a>
				<a class="footer-link footer-social-link" href="#">
					<i class="fab fa-twitter-square"></i>
				</a>
				<a class="footer-link footer-social-link" href="#">
					<i class="fab fa-linkedin"></i>
				</a>
			</div>
		</div>
		<div class="footer-section">
			<p class="footer-section-title">O nas</p>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Informacje o nas</a>
			</div>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Kontakt</a>
			</div>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Relacje inwestorskie</a>
			</div>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Donate</a>
			</div>
		</div>
		<div class="footer-section">
			<p class="footer-section-title">Pomoc techniczna</p>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Centrum pomocy</a>
			</div>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Skontaktuj się z nami</a>
			</div>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Cookies</a>
			</div>
			<div class="footer-link-wrapper">
				<a class="footer-link" href="#">Prywatność i warunki</a>
			</div>
		</div>
		<div class="footer-section">
			<button class="footer-btn">
				<i class="fas fa-angle-up"></i>
			</button>
		</div>
	</div>
	<p class="footer-text-bottom">© 2020 elabodeal.com</p>
</footer>