{% load static %}

<nav class="nav">
	<a href="{% url 'web:index' %}">
		<img
			class="nav-logo"
			src="{% static 'images/white-logo.png' %}"
			alt="White logo"
		/>
	</a>
	<div class="nav-section">
		{% if not request.user.is_authenticated %}
			<div class="nav-action">
				<a class="nav-link" href="{% url 'web:cart' %}">
					<i class="fas fa-shopping-cart nav-icon"></i>
					<p class="nav-text">
						{% if 'cart' in request.session %}
							{{ request.session.cart.total_price }} zł ({{ request.session.cart.item_count }})
						{% else %}
						0.00 zł (0)
						{% endif %}
					</p>
				</a>
			</div>
			<div class="nav-action">
				<a class="nav-btn" href="{% url 'web:login' %}">Zaloguj się</a>
			</div>
			<div class="nav-action">
				<a class="nav-btn" style="background: white; color: var(--orange);" href="{% url 'web:register' %}">Zarejestruj się</a>
			</div>
		{% else %}
			<div class="nav-action">
				<a class="nav-link" href="{% url 'web:cart' %}">
					<i class="fas fa-shopping-cart nav-icon"></i>
					<p class="nav-text">
						{% if 'cart' in request.session %}
							{{ request.session.cart.total_price }} zł ({{ request.session.cart.item_count }})
						{% else %}
						0.00 zł
						{% endif %}
					</p>
				</a>
			</div>
			<div id="nav-menu-open" class="nav-action">
				<div class="nav-account-avatar"></div>
				<p class="nav-text">{{ request.user.username }}</p>
				<i id="nav-arrow-down" class="fas fa-angle-down nav-icon-arrow"></i>
				<i id="nav-arrow-up" class="fas fa-angle-up nav-icon-arrow" style="display: none;"></i>
			</div>
			{% if not request.path == '/salesmanager/products/add/' %}
				<div class="nav-action">
					<a class="nav-btn" href="{% url 'web:salesmanager-add-product' %}">Dodaj e-booka</a>
				</div>
			{% endif %}
		{% endif %}
	</div>
</nav>
<div id="nav-menu" class="nav-menu">
	<div class="nav-menu-wrapper">
		<div class="nav-menu-action">
			<a class="nav-menu-link" href="#">Twój profil</a>
		</div>
		<div class="nav-menu-action">
			<a class="nav-menu-link" href="{% url 'web:my-books' %}">Moje książki</a>
		</div>
		<div class="nav-menu-action">
			<a class="nav-menu-link" href="{% url 'web:saved-carts' %}">Zapisane koszyki</a>
		</div>
		<div class="nav-menu-action">
			<a class="nav-menu-link" href="{% url 'web:salesmanager' %}">Menedżer sprzedaży</a>
		</div>
		<div class="nav-menu-action">
			<a class="nav-menu-link" href="#">Statystyki</a>
		</div>
		<div class="nav-menu-action">
			<a class="nav-menu-link" href="#">Wiadomości</a>
		</div>
		<div class="nav-menu-action">
			<a class="nav-menu-link" href="#">Ustawienia</a>
		</div>
		<a class="nav-menu-btn" href="{% url 'web:logout' %}">Wyloguj się</a>
	</div>
</div>