{% load static %}

<nav class="nav">
	<a href="{% url 'web:index' %}">
		<img
			class="nav__logo"
			src="{% static 'images/white-logo.png' %}"
			alt="White logo"
		/>
	</a>
	<div class="nav__section">
		{% if not request.user.is_authenticated %}
			<div id="cart-open-popup" class="nav__action">
				<a class="nav__link" href="{% url 'web:cart' %}">
					<i class="fas fa-shopping-cart nav__action__icon"></i>
					<p class="nav__action__text">
						{% if 'cart' in request.session %}
							{{ request.session.cart.total_price }} zł ({{ request.session.cart.item_count }})
						{% else %}
						0.00 zł (0)
						{% endif %}
					</p>
				</a>
			</div>
			<div class="nav__action">
				<a class="nav__link--login" href="{% url 'web:login' %}">Zaloguj się</a>
			</div>
			<div class="nav__action">
				<a class="nav__link--register" href="{% url 'web:register' %}">Zarejestruj się</a>
			</div>
		{% else %}
			<div id="cart-open-popup" class="nav__action">
				<a class="nav__link" href="{% url 'web:cart' %}">
					<i class="fas fa-shopping-cart nav__action__icon"></i>
					<p class="nav__action__text">
						{% if 'cart' in request.session %}
							{{ request.session.cart.total_price }} zł ({{ request.session.cart.item_count }})
						{% else %}
						0.00 zł
						{% endif %}
					</p>
				</a>
			</div>
			<div class="nav__action" id="acc-action">
				<div class="nav__avatar"></div>
				<p class="nav__action__text">{{ request.user.username }}</p>
				<i class="fas fa-angle-down nav__action__icon--arrow" id="nav-arrow-down" style="display: none;"></i>
				<i class="fas fa-angle-up nav__action__icon--arrow" id="nav-arrow-up"></i>
			</div>
			<div class="nav__action">
				<button class="nav__btn">Dodaj e-booka</button>
			</div>
		{% endif %}
	</div>
</nav>
<div id="acc-actions-popup" class="nav-popup">
	<div class="nav-popup-container">
		<div class="nav-popup__action">
			<a class="nav-popup__link" href="#">Twój profil</a>
		</div>
		<div class="nav-popup__action">
			<a class="nav-popup__link" href="#">Twoje książki</a>
		</div>
		<div class="nav-popup__action">
			<a class="nav-popup__link" href="#">Zapisane koszyki</a>
		</div>
		<div class="nav-popup__action">
			<a class="nav-popup__link" href="#">Menedżer sprzedaży</a>
		</div>
		<div class="nav-popup__action">
			<a class="nav-popup__link" href="#">Statystyki</a>
		</div>
		<div class="nav-popup__action">
			<a class="nav-popup__link" href="#">Wiadomości</a>
		</div>
		<div class="nav-popup__action">
			<a class="nav-popup__link" href="#">Ustawienia</a>
		</div>
		<a class="nav-popup__link--logout" href="{% url 'web:logout' %}">Wyloguj się</a>
	</div>
</div>
<!-- <div id="cart-actions-popup" class="nav-popup nav-popup--cart">
	<div class="nav-popup-container">
		<div class="nav-popup__action nav-popup--disable-hover">
			<p class="nav-popup__cart-total-price">Razem {{ request.session.cart_total_price }} zł</a>
		</div>
		<a class="nav-popup__link--cart" href="{% url 'web:cart' %}">Przejdz do koszyka</a>
	</div>
</div> -->