<a class="product-card-link" href="{% url 'web:product-detail' url_name=url_name %}">
    <div class="product-card text-align-center">
        <img 
            class="product-card-cover"
            src="{{ cover_img_url }}"
            alt="{{ title }}"
        />
        <div class="product-card-section margin-top-16px">
            <div class="product-card-section">
                <p class="product-card-title">
                    {{ title }}
                </p>
            </div>
            <div class="product-card-section margin-top-8px">
                <p class="product-card-author">
                    {{ author }}
                </p>
            </div>
            <div class="product-card-section margin-top-8px">
                <p class="product-card-price">
                    {{ price }} zł
                </p>
            </div>
            <div class="product-card-section margin-top-4px">
                <i class="fas fa-star product-card-star-icon"></i>
                <i class="fas fa-star product-card-star-icon"></i>
                <i class="fas fa-star product-card-star-icon"></i>
                <i class="fas fa-star product-card-star-icon"></i>
                <i class="fas fa-star product-card-star-icon"></i>
            </div>
        </div>
    </div>
</a>