{% extends 'components/popup.html' %}

{% block title %}Zapisz koszyk{% endblock %}

{% block popup_id %}save-cart-popup{% endblock %}
{% block popup_close_btn_id %}hide-save-cart-popup{% endblock %}

{% block body %}
<form id="save-cart-form" autocomplete="off">
	<div>
		<label>NAZWA</label>
		<input type="text" name="title" required />
	</div>
	<div style="margin-top: 1rem;">
		<label>OPIS</label>
		<textarea name="description"></textarea>
	</div>
	<div class="popup__actions">
		<button class="btn btn__primary btn-block" type="submit" form="save-cart-form">Zapisz</button>
	</div>
</form>
{% endblock %}