{% extends 'components/popup.html' %}

{% block title %}Udostępnij{% endblock %}

{% block popup_id %}share-cart-popup{% endblock %}
{% block popup_close_btn_id %}hide-share-cart-popup{% endblock %}

{% block body %}
<form id="share-cart-form" autocomplete="off">
	<input type="hidden" name="cart_id" value="{{ cart.id }}" />
	<div class="popup__actions">
		<button class="btn btn__secondary btn-block">OK</button>
	</div>
</form>
<div id="share-details" style="display: none;">
	<input id="shared-cart-url" type="text" value="" style="margin-bottom: 1rem;" readonly="readonly"/>
	<div class="flex-center">
		<i id="share-fb-btn" class="icon icon-fb fab fa-facebook"></i>
		<i id="share-reddit-btn" class="icon icon-reddit fab fa-reddit"></i>
		<i id="share-twitter-btn" class="icon icon-tw fab fa-twitter-square"></i>
		<i id="share-email-btn" class="icon icon-email fas fa-envelope-square"></i>
	</div>
	<button id="copy-shared-cart-url" data-clipboard-text="" class="btn btn__secondary btn-block" style="margin-top: 1rem;">Kopiuj</button>
</div>
{% endblock %}