{% extends 'base.html' %}
{% load static %}

{% block title-description %}Dodaj swojego e-booka i zacznij zarabiać{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/salesManager~addProductPage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/salesManager~addProductPage.css' %}">
{% endblock %}

{% block page-scripts %}
<link ref="preload" href="{% static 'dist/salesManager~addProductPage.js' %}" as="script">
<script defer src="{% static 'dist/salesManager~addProductPage.js' %}"></script>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div id="mount0_0">
{% include 'components/loader.html' %}
</div>
{% include 'components/big-footer.html' %}
{% endblock %}

{% block page-bottom-scripts %}
<script type="text/javascript">
	window.__APP_CONTEXT__ = {
		data: JSON.parse( '{{ data|safe }}' )
	};
</script>
{% endblock %}