{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Dodaj swojego e-booka i zacznij zarabiać{% endblock %}

{% block css %}
<style>
	.container {
		max-width: 500px;
	}

	.footer-text {
		color: var(--green);
	}

	.footer-link {
		color: var(--green);
	}

	input[type="file"] {
		padding-top: 3px;
	}

	input[type="file"]::-webkit-file-upload-button {
		background: var(--orange);
		border: none;
		border-radius: 2px;
		outline: none;
		color: white;
		padding: 3px 5px 3px 5px;
	}

	input[type="file"]::-webkit-file-upload-button:hover {
		cursor: pointer;
	}

	textarea[name="description"] {
		height: 256px;
		max-height: 256px;
		resize: none;
	}
</style>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="container">
	<div class="section margin-bottom-32px">
		<p class="font-size-large font-weight-600 color-green">Dodaj e-booka</p>
		<p class="font-size-medium font-weight-300 color-black">Wypełnij poniższy formularz</p>
	</div>
	<form class="section" action="/salesmanager/addproduct/" method="POST" autocomplete="off">
		{% csrf_token %}
		<div class="section">
			<label>TYTUŁ</label>
			{{ form.title }}
		</div>

		<div class="section display-flex margin-top-16px">
			<div class="section">
				<label>KATEGORIA</label>
				<select name="category">
					{% for category in categories %}
						<option>{{ category.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="section margin-left-16px">
				<label>WERSJA JĘZYKOWA</label>
				{{ form.lang }}
			</div>
		</div>
		<div class="section margin-top-16px">
			<label>OPIS</label>
			{{ form.description }}
		</div>
		<div class="section margin-top-16px">
			<label>SPIS TREŚCI</label>
			{{ form.table_of_content }}
		</div>
		<div class="display-flex margin-top-16px">
			<div class="section">
				<label>ISBN</label>
				{{ form.isbn }}
			</div>
			<div class="section margin-left-16px">
				<label>Autor</label>
				{{ form.author }}
			</div>
		</div>
		<div class="section display-flex margin-top-16px">
			<div class="section">
				<label>ILOŚĆ STRON</label>
				{{ form.page_count }}
			</div>
			<div class="section margin-left-16px">
				<label>CENA - Prowizja 0.83 zł</label>
				{{ form.price }}
			</div>
			<div class="section margin-left-16px">
				<label>ILOŚĆ KOPII</label>
				{{ form.copies }}
			</div>
		</div>
		<div class="section display-flex margin-top-16px">
			<div class="section">
				<label>PDF</label>
				{{ form.pdf }}
			</div>
			<div class="section margin-left-16px">
				<label>MOBI</label>
				{{ form.mobi }}
			</div>
			<div class="section margin-left-16px">
				<label>EPUB</label>
				{{ form.epub }}
			</div>
		</div>
		<div class="section margin-top-32px">
			<div class="section flex-center">
				<div class="section">
					{{ form.accept_rules }}
					<label class="margin-left-8px margin-top-2px margin-bottom-2px">AKCEPTUJĘ REGULAMIN</label>
				</div>
			</div>
		</div>
		<button class="btn btn-green btn-full-width margin-top-32px" type="submit">Opublikuj</button>
	</form>
</div>
{% include 'components/smallfooter.html' %}
{% endblock %}