{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Zacznij sprzedawać{% endblock %}

{% block page-styles %}
<link rel="preload" href="{% static 'dist/salesManager~startPage.css' %}" as="style">
<link rel="stylesheet" href="{% static 'dist/salesManager~startPage.css' %}">
{% endblock %}

{% block page-scripts %}
<link rel="preload" href="{% static 'dist/salesManager~startPage.js' %}" as="script">
<script defer src="{% static 'dist/salesManager~startPage.js' %}"></script>
{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div id="mount0_0">
{% include 'components/loader.html' %}
</div>
{% include 'components/small-footer-light.html' %}
{% endblock %}