{% extends 'layouts/base.html' %}
{% load static %}

{% block title-description %}Zacznij sprzedawać{% endblock %}

{% block page_class_name %}p-salesmanager-start{% endblock %}

{% block body %}
{% include 'components/navigation.html' %}
<div class="wrapper">
	<div class="section">
		<div class="form-wrapper">
			<form class="form">
				<p class="h2">Aby móc wystawić swojego ebooka na sprzedaż musisz wypełnić ponniższy formularz.</p>
				<p class="h3">1. Dane do wypłaty</p>
				<div>
					<label>KRAJ</label>
					{{ form.country }}
				</div>
				<div>
					<label>SWIFT</label>
					{{ form.swift }}
				</div>
				<div>
					<label>NUMER RACHUNKU</label>
					{{ form.account_number }}
				</div>
				<p class="h3">2. Dane sprzedającego</p>
				<div class="form__section">
					<div>
						<label>IMIĘ</label>
						{{ form.first_name }}
					</div>
					<div>
						<label>NAZWISKO</label>
						{{ form.last_name }}
					</div>
				</div>
				<p class="h3">3. Powiadomienia</p>
				<p class="form__information">Zmiana ustawień powiadomień możesz dokonać w ustawieniach.</p>
				<div class="form__option">
					{{ form.notify_when_buy_book }}
					<p>Wyślij email z informacją o sprzedaży kopii książki</p>
				</div>
				<div class="form__option">
					{{ form.notify_when_withdraw }}
					<p>Wyślij email z informacją o wypłacie środków na konto</p>
				</div>
				<button class="btn btn__primary btn-block">Kontynuj</button>
			</form>
		</div>
	</div>
</div>
{% include 'components/small-footer-light.html' %}
{% endblock %}