// Breakpoints

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

// Animations

@mixin transition-animation($delay: 0.25s) {
    transition: $delay ease-in;
}

@mixin dropdown-animation($duration: 0.25s) {
    @keyframes dropdown {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    animation: dropdown ease-in-out forwards;
    animation-duration: $duration;
}