// Breakpoints

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

// Animations

@mixin transition-animation($delay: 0.25s) {
    transition: $delay ease-in;
}

@mixin fadein-animation($duration: 0.25s) {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    animation: fadeIn ease-in;
    animation-duration: $duration;
}

@mixin fadeout-animation($duration: 0.25s) {
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opactiy: 0;
        }
    }

    animation: fadeOut ease-out;
    animation-duration: $duration;
}