@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$default-font: 'Montserrat', sans-serif;;

$font-size-small: .90rem;
$font-size-medium: 1.2rem;
$font-size-big: 1.35rem;
$font-size-large: 2.15rem;