@import 'colors';
@import 'typography';
@import 'base';
@import 'utils';
@import 'mixins';
@import 'components/all';
@import 'layouts/all'; 
@import 'pages/all';

.popup-wrapper {
    z-index: 9999;
    // background: rgb(1, 22, 39, 0.73);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.popup {
    max-width: 512px;
    width: 100%;
    height: auto;
    background: white;
    padding: 16px;
    border-radius: 2px;
    animation: fadeIn 0.5s;
}

.popup-header {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}

.popup-title {
    font-size: 1.5rem;
    font-weight: 600;
    width: calc(100% - 32px);
    color: var(--orange);
    text-align: center;
}

.popup-close-btn {
    font-size: 1.5rem;
    color: var(--grey);
    padding: 3px 0px 3px 0px;
}

.popup-close-btn:hover {
    cursor: pointer;
}