.p-user-settings {
    .container {
        width: 512px;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 1rem;
        margin: 0 auto;
    }
    
    .option-list {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 1rem;
        margin-top: 1rem;
    }

    .option {
        &__name {
            font-weight: bold;
            margin-bottom: .5rem;
        }

        &__body {
            display: grid;
            grid-template-columns: auto 4rem;
            grid-column-gap: .5rem;
        }

        &-checkbox {
            display: flex;
            align-items: center;

            & > p {
                margin-bottom: 0;
            }

            & > input {
                margin-right: .5rem;
            }
        }
    }

    .section {
        &__dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                cursor: pointer;
                border-radius: 2px;
            }

            & > i {
                font-size: 1.5rem;
                color: $color-grey;
            }
        }
    }

    input {
        color: $color-grey;
    }
}