.p-user-settings {
    .container {
        width: 512px;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 1rem;
        margin: 0 auto;
    }
    
    .option-list {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 1rem;
        margin-top: 1rem;
    }

    .option {
        &__name {
            font-weight: bold;
            margin-bottom: .5rem;
        }

        &__information {
            font-size: $font-size-small;
            color: $color-black;
            font-weight: 400;
        }

        &__body {
            display: grid;
            grid-template-columns: auto 4rem;
            grid-column-gap: .5rem;
        }

        &-checkbox {
            display: flex;
            align-items: center;

            & > p {
                margin-bottom: 0;
            }

            & > input {
                margin-right: .5rem;
            }
        }

        input {
            color: $color-grey;
        }
    }

    .section {
        &__dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                cursor: pointer;
                border-radius: 2px;
            }

            & > i {
                font-size: 1.5rem;
                color: $color-grey;
            }
        }
    }

    .current-editing-input {
        color: $color-black !important;
        border-color: $color-black;
    }

    .option-list-dropdown-animation {
        @include fadein-animation;
    }

    #js-edit-option-btn {
        &:after {
            font-family: FontAwesome;
            content: '\f044';
        }
    }

    #js-cancel-edit-option-btn {
        &:after {
            font-family: FontAwesome;
            content: '\f00d';
        }
    }

    #js-email-verification-modal {
        .success-msg {
            text-align: center;
            color: $color-green;
        }

        .error-msg {
            color: $color-red;
        }
    }
}