.container {
	width: 100%;
	height: 100vh;
}

.left-section {
	width: 40%;
    height: 100vh;
    background: var(--light-grey);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.right-section {
	width: 60%;
    height: 100vh;
    float: left;
    background: url('/static/images/auth-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 32px;
}

.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 64px 0px 64px 0px;
}

.logo__img {
    width: 210px;
    height: auto;
}

.choice {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
}

.choice__link {
    font-size: 1rem;
    font-weight: 300;
    color: var(--black);
    text-decoration: none;
}

.choice__link--current {
    color: var(--orange);
    font-weight: 600;
}

.choice__decorator {
    width: calc(100% - 20px);
    height: 2px;
    margin: 0 auto;
    background: var(--green);
    margin-top: 5px;

}

.choice--left{
    float: left;
}

.choice--right{
    float: right;
}

.form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    clear: both;
    padding-top: 16px;
}

.input-container {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
}

.form__error {
    width: 100%;
    height: auto;
    color: var(--red);
    margin-bottom: 8px;
}

.form__input {
    width: 100%;
    height: 32px;
    border: 1px solid var(--grey);
    border-radius: 2px;
    outline: none;
    background: white;
    font-size: 1rem;
    padding: 0px 16px 0px 16px;
    color: var(--black);
}

.form__input__label {
    text-align: left;
    float: left;
    margin-bottom: 8px;
    color: var(--black);
    font-weight: 300;
    font-size: .8rem;
}

.form__submit {
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: var(--orange);
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.form__submit:hover {
    cursor: pointer;
}

.section {
    width: auto;
    height: 21px;
    float: right;
}

.section__link {
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 16px;
    text-decoration: none;
}

.section__link:hover {
    cursor: pointer;
}

.hero {
    clear: both;
    width: 100%;
    height: calc(100vh - 104px);
    padding: 0px 16px 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.hero__text {
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
}
