.wrapper {
	&-content {
		@include for-tablet-landscape-up {
			display: flex; 
			min-height: auto;
			justify-content: center;
	    }
	}
}

.section {
	&-summary {
		margin: 0 auto;
		max-width: 512px;

		@include for-tablet-landscape-up {
			max-width: 400px;
			margin: 0 1rem 0 0;
		}
	}
}

.form-wrapper {
	height: auto;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 2rem;

	@include for-tablet-landscape-up {
		margin: 0 0 0 1rem;
	}
}

.form {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 1rem;

	&__input {
		&-checkbox {
			display: flex;
			align-items: center;

			& > label {
				margin: 0;
				margin-left: .5rem;
			}
		}
	}

	&__section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
	}

	&__information {
		font-size: $font-size-small;
		font-weight: 500;
		color: $color-grey;
		padding-bottom: 1rem;
	}

	&__error {
		color: $color-red;
		font-size: $font-size-small;
	}

	.as-gift {
		display: flex;
		justify-content: left;
		padding-top: 1rem;
		padding-bottom: 1rem;
		align-items: center;

		& > p {
			padding-right: 1rem;
			font-weight: 500;
			font-size: $font-size-small;
		}

		& > input {
			margin-right: 0.5rem;
		}
	}
}

.StripeElementWrapper {
	display: flex;
	align-items: center;
	height: 32px;
	width: 100%;
	background-color: white;	
	border: 1px solid $color-grey;
	padding-left: 16px;
	padding-right: 5px;
}

.StripeElement {
	flex-basis: 100%;
}

.success-msg-wrapper {
	min-height: calc(100vh - 325px);
}

.success-msg {
	&__title {
		margin-bottom: .75rem;
		color: $color-green;
	}

	&__description {
		margin-bottom: .5rem;
		max-width: 520px;
	}

	&__highlight {
		color: $color-green;
	}
}

.summary-title {
	font-weight: bold;
	margin-bottom: .5rem;
}

.summary-products {
	width: 100%;
	display: grid;
	margin: 0 auto;
	max-height: 256px;
	grid-row-gap: .5rem;
	grid-template-rows: auto;
	border: 1px solid $color-grey;
}

.summary-product {
	width: 100%;
	display: flex;
	padding: .5rem;
	min-height: 64px;
	border-radius: 2px;
	align-items: center;
	background-color: white;
	border: 1px solid $color-grey;
	justify-content: space-between;

	&__title {
		max-width: 290px;
		word-wrap: break-word;
	}

	&__price {
		margin-left: .5rem;
		color: $color-orange;
	}
}
.summary-total-price {
	width: 100%;
	margin-top: .5rem;
	text-align: right;
	font-size: $font-size-big;

	&__highlight {
		font-weight: bold;
		color: $color-orange;
	}
}