.container {
	max-width: 1280px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
	margin-bottom: 32px;
}

.logo__img {
	width: 210px;
	height: auto;
}

.section {
	max-width: 350px;
	height: auto;
	text-align: center;
}

.section__title {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--black);
	margin-bottom: 8px;
}

.section__description {
	font-size: 1.1rem;
	font-weight: 300;
	color: #A3A3A3A3;
}

.bold-text {
	color: var(--black);
	font-weight: 500;
}

.form {
	width: 100%;
	height: auto;
	margin-top: 32px;
}

.input-container {
	width: 100%;
	height: 32px;
	margin-bottom: 16px;
}

.form__input {
	height: 32px;
	max-width: 256px;
	width: 100%;
	outline: none;
	border: 1px solid var(--grey);
	background: white;
	font-size: 1rem;
	color: var(--black);
	text-align: center;
	letter-spacing: 8px;
	border-radius: 2px;
}

.form__submit {
	width: 256px;
	height: 32px;
	background: var(--orange);
	color: white;
	border-radius: 2px;
	border: none;
	outline: none;
	font-weight: 600;
	font-size: 1rem;
}

.form__error {
    width: 100%;
    height: auto;
    color: var(--red);
    margin-bottom: 8px;
}

.form__submit:hover {
	cursor: pointer;
}

.footer {
	color: var(--green);
	margin-bottom: 32px;
}

.footer__link {
	color: var(--green);
}