label {
    text-align: left;
}

.informations {
    margin: 0 auto;
    max-width: 512px;
    text-align: center;
}

.form {
    margin: 1.5rem auto;
    max-width: 300px;

    &__input {
        &-group {
            margin-bottom: 1.5rem;
        }
    }
}

strong {
    font-weight: bold;
    color: $color-orange;
}