@import "../colors";
@import "../mixins";
@import "../typography";

@import "../components/link-list";
@import "../components/code-input";


.settings {
    width: 100%;
    height: auto;
    display: grid;
    row-gap: .5rem;
    grid-template-rows: auto;

    &__section {
        width: 100%;
        height: auto;
        display: flex;
        padding: .5rem;
        list-style: none;
        border-radius: 2px;
        align-items: center;
        background-color: white;
        border: 1px solid $color-grey;
        justify-content: space-between;

        &-isEditing {
            display: block;
        }

        &-title {
            font-weight: bold;
            text-transform: uppercase;
            font-size: $font-size-small;
        }

        &-currentValue {
            font-size: $font-size-small;
        }

        &-content {
            height: auto;
            margin: 0 auto;
            max-width: 512px;
            margin-top: 1.5rem;
            display: grid;
            row-gap: .5rem;
            grid-template-rows: auto;
        }
    }
}

.section {
    &-settings {
        &__title {
            color: $color-orange;
            font-size: $font-size-medium;
        }

        &__group {
            margin-bottom: 1.5rem;
        }
    }

    &__content {
        margin-top: 1rem;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 14rem 1fr;
    column-gap: 2rem;
}

.link-list {
    margin-top: 1rem;
}
