<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">

    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
</head>
<body>
  <table align="center" style="width: 600px;">
    <tr>
      <td align="center">
        <h1 style="color: orange; font-size: 2.5rem;">Elabodeal</h1>
      </td>
    </tr>
    <tr>
      <td>
        <h2 style="color: #2EC4B6; margin: 0;">Dziekujemy za zakupy !</h2>
      </td>
    </tr>
    <tr>
      <td>
        <p
          style="color: #011627; font-size: 1.2rem; margin: 0; font-weight: 300;"
        >
          Możesz pobrać swoje książki klikając poniższy przycisk. Książki
          dostępne bedą również po zalogowaniu się na swoje konto w zakładce
          moje książki
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 8px;">
        <a
          style="display: inline-block; width: 128px; height: 24px; background-color: orange; color: white; text-decoration: none; text-align: center;
        padding-top: 5px; border-radius: 2px;"
          href="#"
          >Pobierz teraz</a
        >
        <a
          style="display: inline-block; width: 128px; height: 24px; background-color: #2EC4B6; color: white; text-decoration: none; text-align: center;
        padding-top: 5px; border-radius: 2px; margin-left: 8px;"
          href="#"
          >Odwiedz portal</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <p style="color: #011627; font-size: 1.2rem;">
          Podsumowanie płatności:
        </p>
      </td>
    </tr>
    {% for product in products %}
      <tr>
        <td>
          <tr>
            <td>
              <span style="display: flex;">
                <span style="justify-content: flex-start; width: 60%;">
                  <p
                    style="color: #011627; font-weight: bold; font-size: 1.3rem; margin: 0;"
                  >
                    {{ product.title }}
                  </p>
                  <p style="color: #011627; font-size: 1.1rem; margin: 0;">
                    {{ product.author }}
                  </p>
                </span>
                <span style="justify-content: flex-end; width: 40%;">
                  <p style="color: #2EC4B6; font-size: 1.3rem; float: right;">
                    {{ product.price }} zł
                  </p>
                </span>
              </span>
            </td>
          </tr>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td align="right">
        <p style="font-size: 1.3rem; margin: 0; color: #011627;">
          Razem: <b style="color: orange;">{{ total_price }} zł</b>
        </p>
      </td>
    </tr>
    <tr>
      <td align="right" style="padding-bottom: 32px;">
        <p style="font-size: 1.3rem; margin: 0; color: #011627;">
          Metoda płatności: <b style="color: orange;">{{ payment_method }}</b>
        </p>
      </td>
    </tr>
    <tr>
      <td
        style="color: white; background: orange; padding: 0px 16px 0px 16px;"
      >
        <p style="float: left;">
          Masz pytania ?
          <a style="color: white;" href="#">Skorzystaj z centrum pomocy</a>
        </p>
        <p>
          <a style="float: right; color: white; text-decoration: none; margin: 0;" href="#">© elabodeal.com</a>
        </p>
      </td>
    </tr>
  </table>
</body>